/* head */
.head {
  margin-top: 40px;
}
.main-menu {
  margin-top: 10px;
}
.main-menu ul li {
  display: inline-block;
  padding: 0 20px;
}
.main-menu ul li a {
  color: #000;
  font-weight: 600;
  transition: all 0.5s ease;
}
.main-menu ul li a:hover {
  color: #39a2db;
}
.Free {
  text-align: center;
  font-weight: 700;
  color: #fff;
  background: #39a2db;
  border: 3px solid #39a2db;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
  padding: 11px 29px;
}
.Free:hover {
  background: transparent;
  color: #39a2db;
}
/* homepage-slider */
.homepage-slider {
  margin-top: 150px;
  margin-bottom: 150px;
}
/* .slider-table {
  display: table;
}
.slider-table-cell {
  display: table-cell;
} */
.slider-txt h2 {
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 2px;
}
.slider-txt p {
  font-size: 17px;
  margin: 21px 0;
}
.slider-form form input[type="text"] {
  padding: 13px 83px;
  text-align: left;
  background: #e8f0f2;
  border: none;
}
.slider-form form input[type="submit"] {
  padding: 11px 27px;
  border: none;
  margin-left: 34px;
  background: #39a2db;
  border: 2px solid #39a2db;
  color: #fff;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}
.slider-form form input[type="submit"]:hover {
  background: transparent;
  color: #39a2db;
}
.homepage-slider img {
  margin-top: -43px;
  width: 581px;
}
/* service */
.service-title {
  margin-bottom: 70px;
}
.single-service {
  padding: 58px;
  margin-bottom: 42px;
  position: relative;
  border: 3px solid transparent;
  transition: all 0.3s ease-in-out;
}
.single-service:hover {
  border: 3px solid #39a2db;
}
.single-service svg {
  font-size: 40px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}
.single-service:hover.single-service svg {
  color: #39a2db;
}
.single-service h4 {
  transition: all 0.3s ease-in-out;
}
.single-service:hover.single-service h4 {
  color: #39a2db;
}
.single-service p {
  margin-bottom: 1px;
  margin-top: 28px;
}
.single-service.service-btn {
  margin-top: 10px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.single-service:hover.single-service .service-btn {
  color: #39a2db;
}
.single-service .service-btn svg {
  font-size: 20px;
  margin-bottom: -2px;
  transition: all 0.3s ease-in-out;
}
.single-service:hover.single-service .service-btn svg {
  color: #39a2db;
}
/* laptop */
.laptop {
  margin-top: 100px;
  margin-bottom: 80px;
}
.laptop-txt p {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 19px;
  letter-spacing: 2px;
}
.laptop-txt h2 {
  font-size: 47px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}
.laptop-txt {
  padding-right: 43px;
}
.laptop-txt a.laptop-btn {
  color: #fff;
  background: #39a2db;
  border-radius: 5px;
  border: 3px solid #39a2db;
  font-weight: 700;
  padding: 14px 43px;
  transition: all 0.5s ease;
}
.laptop-txt a.laptop-btn:hover {
  color: #39a2db;
  background: transparent;
}
.laptop img {
  width: 578px;
  margin-left: 21px;
}
/* product-area */
.product-area {
  background: #f5f5f5;
  padding-top: 80px;
  padding-bottom: 80px;
}
.product-title {
  padding: 0px 340px;
  margin-bottom: 87px;
}
.product-title h2 {
  letter-spacing: 2px;
  font-weight: 500;
}
.product-title p {
  font-weight: 500;
  letter-spacing: 1px;
}
.single-product {
  position: relative;
  z-index: 2;
  padding-top: 38px;
  padding-bottom: 38px;
  margin-bottom: 23px;
}
.product-area .slick-slider {
  margin: 0 -15px;
}
.product-area .slick-slide {
  padding: 10px;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}
.single-product:hover::after {
  opacity: 1;
}
.single-product:hover .hover-txt {
  opacity: 1;
}
.single-product::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #39a2db;
  z-index: -1;
  content: "";
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.bg1 {
  background: url("https://farihatulmaria.github.io/psd-to-html//assets/img/art-5852645_1280.jpg");
  background-position: center;
  background-size: cover;
}
.bg2 {
  background: url("https://farihatulmaria.github.io/psd-to-html//assets/img/portland-head-light-5539153_1280.jpg");
  background-position: center;
  background-size: cover;
}
.bg3 {
  background: url("https://farihatulmaria.github.io/psd-to-html//assets/img/woman-6572974_1280.jpg");
  background-position: center;
  background-size: cover;
}
.bg4 {
  background: url("https://farihatulmaria.github.io/psd-to-html//assets/img/art-5852645_1280.jpg");
  background-position: center;
  background-size: cover;
}
.hover-txt {
  opacity: 0;
  color: #fff;
  font-weight: 600;
  padding: 0px 34px;
  margin-bottom: 33px;
  transition: all 0.5s ease-in-out;
}
.hover-txt a.product-btn {
  margin-top: 10px;
  background: #fff;
  color: #000;
  padding: 11px 15px;
  border-radius: 50%;
  border: 3px solid #fff;
  transition: all 0.5s ease;
}
.hover-txt a.product-btn svg {
  font-weight: bold;
  font-size: 16px;
}
.hover-txt a.product-btn:hover {
  color: #fff;
  background: transparent;
}
/* client-comments */
.client-comments {
  padding: 100px 50px;
}
.comment-table {
  display: table;
}
.comment-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.comment-txt {
  padding: 0 50px;
}
.comment-txt p {
  padding: 0 321px;
  margin-top: 30px;
  margin-bottom: 37px;
}
.comment-txt img {
  border-radius: 50%;
  width: 102px;
  height: 97px;
  margin-left: 46%;
  margin-bottom: 30px;
}
.comment-txt h5 {
  text-transform: uppercase;
}
.comment-txt h5 span {
  display: block;
  margin-top: 16px;
  text-transform: capitalize;
  font-size: 19px;
  font-weight: 400;
}
.slick-dots {
  bottom: -55px;
  left: 2px;
}
.slick-dots li {
  border-radius: 32px;
  width: 40px;
  height: 6px;
  background: #dbdbdb;
  color: #dbdbdb;
  transition: all 0.3s ease;
}
.slick-dots li button {
  display: none;
}
.slick-dots li.slick-active {
  background: #39a2db;
}
/* offer */
.offer {
  padding: 50px 0;
  background: #f5f5f5;
}
.offer-txt {
  color: #000;
}
/* pricing-table */
.pricing-table {
  padding: 90px 0;
}
.pricing-title {
  margin-bottom: 50px;
}
.pricing-title h2 {
  font-weight: 400;
}
.pricing-title p {
  padding: 8px 25%;
}
.pricing-offer {
  text-align: center;
  border-radius: 3px;
  border: 2px solid transparent;
  transition: all 0.5s ease;
}
.pricing-offer:hover {
  border: 2px solid #39a2db;
}
.pricing-offer:hover .pricing-head span {
  background: #39a2db;
}
.pricing-head {
  position: relative;
  padding: 20px 0;
}
.pricing-head h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.pricing-head h1 {
  color: #39a2db;
  font-weight: 600;
}
.pricing-head p {
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}
.pricing-head span {
  position: absolute;
  top: 93%;
  left: 18%;
  width: 64%;
  text-align: center;
  background: #f5f5f5;
  transition: all 0.5s ease-in-out;
  height: 3px;
}
.pricing-body {
  padding: 20px;
}
.pricing-txt {
  line-height: 2;
  margin-bottom: 33px;
}
a.pricing-btn {
  text-align: center;
  font-weight: 700;
  color: #fff;
  background: #39a2db;
  border: 3px solid #39a2db;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
  padding: 10px 20px;
  text-transform: capitalize;
}
a.pricing-btn:hover {
  color: #39a2db;
  background: transparent;
}
/* footer */
footer {
  background: #f5f5f5;
  padding: 50px 0;
}
footer a {
  color: #000;
}
.sign-up h3 {
  font-size: 24px;
  margin-bottom: 45px;
}
.sign-up form {
  margin-bottom: 20px;
}
.sign-up input[type="email"] {
  border: none;
  border-radius: 3px;
  background: #fff;
  padding: 12px 1px;
  text-align: center;
}
.sign-up input[type="submit"] {
  color: #fff;
  background: #39a2db;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
  border: none;
  margin-left: 57px;
  padding: 13px 21px;
  font-weight: 600;
}
.sign-up input[type="submit"]:hover {
  border-radius: 32px;
}
.social-icons {
  margin-top: 10px;
}
.social-icons a {
  transition: all 0.5s ease-in-out;
  padding: 17px;
  cursor: pointer;
}
.social-icons a:hover {
  color: #39a2db;
}
