/* header */
header {
}
.head {
  margin: 40px 0;
}
.main-menu {
  margin-top: 12px;
}
.main-menu ul {
}
.main-menu ul li {
  display: inline-block;
  padding: 0px 9px;
}
.main-menu ul li a {
  color: #000;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
.main-menu ul li a:hover {
  color: #36ee80;
}
.head-btn {
}
.Free {
  color: #fff;
  font-weight: 600;
  background: #36ee80;
  border-radius: 3px;
  border: 3px solid #36ee80;
  transition: all 0.5s ease-in-out;
}
.Free:hover {
  color: #36ee80;
  background: transparent;
}
/* homepage-slider */
.homepage-slider {
  background: rgb(17, 104, 195);
  background: linear-gradient(
    73deg,
    rgba(17, 104, 195, 1) 0%,
    rgba(141, 220, 247, 1) 100%
  );
}
.slider-txt {
}
.slider-txt h2 {
}
.slider-txt p {
}
.slider-form {
}
.slider-form form {
}
.slider-form form input {
}
.slider-form form input[type="submit"] {
}
