header {
}
/* head */
.head {
  margin-top: 40px;
}
.main-menu {
  margin-top: 10px;
}
.main-menu ul li {
  display: inline-block;
  padding: 0 20px;
}
.main-menu ul li a {
  color: #000;
  font-weight: 600;
  transition: all 0.5s ease;
}
.main-menu ul li a:hover {
  color: #39a2db;
}
.Free {
  text-align: center;
  font-weight: 700;
  color: #fff;
  background: #39a2db;
  border: 3px solid #39a2db;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
  padding: 11px 29px;
}
.Free:hover {
  background: transparent;
  color: #39a2db;
}
/* homepage-slider */
.homepage-slider {
  margin-top: 150px;
  margin-bottom: 150px;
}
/* .slider-table {
  display: table;
}
.slider-table-cell {
  display: table-cell;
} */
.slider-txt {
}
.slider-txt h2 {
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 2px;
}
.slider-txt p {
  font-size: 17px;
  margin: 21px 0;
}
.slider-form {
}
.slider-form form {
}
.slider-form form input[type="text"] {
  padding: 13px 83px;
  text-align: left;
  background: #e8f0f2;
  border: none;
}
.slider-form form input[type="submit"] {
  padding: 12px 27px;
  border: none;
  margin-left: -39px;
  background: #39a2db;
  border: 2px solid #39a2db;
  color: #fff;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}
.slider-form form input[type="submit"]:hover {
  background: transparent;
  color: #39a2db;
}
.homepage-slider img {
  margin-top: -43px;
}
/* service */
section.service {
}
.service-title {
  margin-bottom: 50px;
}
.service-title h2 {
}
.service-title p {
}
.single-service {
  padding: 58px;
  margin-bottom: 42px;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.single-service:hover {
  border: 3px solid #39a2db;
}
.single-service svg {
  font-size: 40px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out;
}
.single-service:hover.single-service svg {
  color: #39a2db;
}
.single-service h4 {
  transition: all 0.5s ease-in-out;
}
.single-service:hover.single-service h4 {
  color: #39a2db;
}
.single-service p {
  margin-bottom: 1px;
  margin-top: 28px;
}
.single-service.service-btn {
  margin-top: 10px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
.single-service:hover.single-service .service-btn {
  color: #39a2db;
}
.single-service .service-btn svg {
  font-size: 20px;
  margin-bottom: -2px;
  transition: all 0.5s ease-in-out;
}
.single-service:hover.single-service .service-btn svg {
  color: #39a2db;
}
